// Buttons
// -------------------------

%ButtonBase {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 20px;
    margin: 0 5px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;

    // Default Sizing
    font: normal 1.6rem Trade;
}

    // Button Types
    .Button--primary {
        @extend %ButtonBase;
        
        color: $white;
        background-color: $black;

        &:hover {
            background-color: lighten($black, 10%);
        }
    }

    // Button Sizes 
    .Button--small {
        font: normal 1.2rem Trade;
    }