// -------------------------
// Buttons
// -------------------------

%ButtonBase {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 20px;
    margin: 0 5px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;

    // Default Sizing
    font: normal 1.6rem Helvetica;
}

    // Button Types
    .ButtonPrimary {
        @extend %ButtonBase;
        
        color: $white;
        background-color: $black;

        &:hover {
            background-color: lighten($black, 10%);
        }
    }

    // Button Sizes 
    .Button--small {
        font: normal 1.2rem Helvetica;
    }


%LinkBase {

}
    .LinkPrimary {
        color: $text_dark_color;
        padding: 0 0 1px 0;
        text-decoration: none;
        letter-spacing: 0.1rem;
        border-bottom: 2px solid $primary_color;
    }
        .LinkPrimary:hover {
            color: $primary_color;
            padding: 0 0 3px 0;
        }

    // .LinkPrimary.is-onLight {
    //     color: $text_dark_color;
    //     padding: 0 0 1px 0;
    //     border-bottom: 2px solid $primary_color;
    // }
    //     .LinkPrimary.is-onLight:hover {
    //         color: $primary_color;
    //         padding: 0 0 3px 0;
    //     }

    .LinkPrimary.is-onDark {
        color: $white;
    }
        .LinkPrimary.is-onDark:hover {
            color: $primary_color;
        }

    .LinkSecondary {
        color: $secondary_color;
        padding: 0 0 1px 0;
        text-decoration: none;
        letter-spacing: 0.1rem;
        border-bottom: 2px solid $primary_color;
    }
        .LinkSecondary:hover {
            color: $primary_color;
            padding: 0 0 3px 0;
        }

    .LinkForNav {
        text-decoration: none;
        letter-spacing: 0.1rem;
        border: 2px solid transparent;
        padding: 8px 10px;
    }

    .LinkForNav.is-onLight {
        color: $text_medium_color;
    }    
        .LinkForNav.is-onLight:hover {
            border: 2px solid $text_medium_color;
        }
        .LinkForNav.is-onLight.is-selected {
            color: $text_dark_color;
            border: 2px solid $text_dark_color;
        }

    .LinkForNav.is-onDark {
        color: $text_light_color;
    }    
        .LinkForNav.is-onDark:hover {
            border: 2px solid $text_light_color;
        }
        .LinkForNav.is-onDark.is-selected {
            color: $white;
            border: 2px solid $white;
        }
    
    .LinkForNav.is-emphasized {
        color: $secondary_color;
    }
        .LinkForNav.is-emphasized:hover {
            border: 2px solid $secondary_color;
        }
        .LinkForNav.is-emphasized.is-selected {
            color: $secondary_color;
            border: 2px solid $secondary_color;
        }

    .LinkForNav--home {
        text-decoration: none;
        color: $text_xlight_color;
    }
        .LinkForNav--home:hover {
            color: $text_medium_color;
        }
