// Navigation
// -------------------------

.PrimaryNav {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
    .PrimaryNav-List--h {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
    }

    .PrimaryNav-List--v {}
        .PrimaryNav-Item--h {
            display: inline-block;
            margin:0 0 0 100px;
            font-family: aktiv-grotesk-std;
            font-size: 1.4rem;
            font-weight: 400;
            text-transform: uppercase;
        }
            .PrimaryNav-Item--h:first-child {
                margin: 0;
            }
        .PrimaryNav-Item--v {

        }

