// Typography
// -------------------------

// LOAD WEB FONTS

// For Hosted Web Fonts -------
// ex: @include FontFace--hosted(Name, 'http://fonts.hudl.com/trade-gothic/regular/regular', normal);

// For Typekit Web Fonts -------
// ex: @include FontFace--typekit(kepler-std-display);
@include FontFace--typekit(kepler-std-display);
@include FontFace--typekit(aktiv-grotesk-std);

// Font Stack
$font_serif:    kepler-std-display;
$font_sans:     aktiv-grotesk-std;

html {
    font-size: 62.5%; // Sets a base font size so 1.4rem = 14px
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6rem;
}

h1 {
    font-family: $font_serif;
    font-weight: 800;
    font-size: 10.0rem;
    line-height: 10.0rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $font_serif;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: $font_serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: $font_sans;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 0;
    padding: 0;   
}

h5 {
    font-family: $font_sans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;   
}

p {
    font-family: $font_sans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
}
