// ============================================
// Links
// ============================================

// Default HTML Element 
// ============================================
a {
    transition:         all #{$transition_medium};
    -webkit-transition: all #{$transition_medium};
    -moz-transition:    all #{$transition_medium};
}

.#{$namespace}link {
  text-decoration: none;
  color: inherit;
  border-bottom: $border_thin_secondary;
  padding: 0 0 0 0; 
  
  &:hover {
    color: $color_brand_secondary;
    padding: 0 0 $space_eighth 0; 
  }
  &:active {
    color: $color_text_08;
  }
  // &:visited {
  //   color: $color_text_08;
  // }
}

.#{$namespace}link--action {
  text-decoration: none;
  color: $color_action;
  
  &:hover {
    color: $color_action_tint;
  }
  &:active {
    color: $color_action_shade;
  }
  &:visited {
    color: $color_action_tint;
  }
}

.#{$namespace}link--standard {
  text-decoration: none;
  color: inherit;
  
  &:hover {
    color: $color_action_tint;;
  }
  &:active {
    color: $color_action_shade;
  }
  &:visited {
    color: $color_action_tint;
  }
}

.#{$namespace}link--create {
  text-decoration: none;
  color: $color_text_05;
  
  &:hover {
    color: $color_text_01;
  }
  &:active {
    color: $color_text_08;
  }
  &:visited {
    color: $color_text_08;
  }
}

.#{$namespace}link--destroy {
  text-decoration: none;
  color: $color_text_05;
  
  &:hover {
    color: $color_text_01;
  }
  &:active {
    color: $color_text_08;
  }
  &:visited {
    color: $color_text_08;
  }
}

.#{$namespace}link--implied {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
  padding: 0 0 0 0; 
  
  &:hover {
    color: $color_brand_secondary;
    padding: 0 0 $space_eighth 0; 
  }
  &:active {
    color: $color_text_08;
  }
  // &:visited {
  //   color: $color_text_08;
  // }
}
