.h-clear, .Grid:after, .Grid-row,
.Grid-row:after {
  content: "";
  display: table;
  clear: both;
}

.h-verticalAlign, .ProjectItem-Logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-lowercase {
  text-transform: lowercase !important;
}

.h-preventScroll {
  overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.ContentContainer--fluid {
  max-width: 1280px;
  margin: 0 auto;
}

.ContentContainer--fixed {
  width: 1080px;
  margin: 0 auto;
}

.Content-Container--full {
  width: 100%;
  margin: 0;
}

.Grid {
  margin: 0 auto 40px auto;
}

.Grid--withOutsideGutters {
  padding: 40px 0 40px 40px;
}
.Grid--withOutsideGutters [class*='col-']:last-of-type {
  padding-right: 40px;
}

[class*='Grid-col--'] {
  float: left;
  padding-right: 40px;
  min-height: 1rem;
}
.Grid [class*='Grid-col--']:last-of-type {
  padding-right: 0;
}

.Grid-col--span2of3 {
  width: 66.66%;
}

.Grid-col--span1of3 {
  width: 33.33%;
}

.Grid-col--span1of2 {
  width: 50%;
}

.Grid-col--span1of4 {
  width: 25%;
}

.Grid-col--span3of4 {
  width: 75%;
}

.Grid-col--span1of8 {
  width: 12.5%;
}

.Grid-col--span2of8 {
  width: 25%;
}

.Grid-col--span3of8 {
  width: 37.5%;
}

.Grid-col--span5of8 {
  width: 62.5%;
}

@font-face {
  font-family: kepler-std-display;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: aktiv-grotesk-std;
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6rem;
}

h1 {
  font-family: kepler-std-display;
  font-weight: 800;
  font-size: 10.0rem;
  line-height: 10.0rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: kepler-std-display;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: kepler-std-display;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: aktiv-grotesk-std;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: aktiv-grotesk-std;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 0;
  padding: 0;
}

p {
  font-family: aktiv-grotesk-std;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.ButtonPrimary {
  display: inline-block;
  border-radius: 4px;
  padding: 7px 20px;
  margin: 0 5px;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  font: normal 1.6rem Helvetica;
}

.ButtonPrimary {
  color: #FFFFFF;
  background-color: #000000;
}
.ButtonPrimary:hover {
  background-color: #1a1a1a;
}

.Button--small {
  font: normal 1.2rem Helvetica;
}

.LinkPrimary {
  color: #333333;
  padding: 0 0 1px 0;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid #D75B5B;
}

.LinkPrimary:hover {
  color: #D75B5B;
  padding: 0 0 3px 0;
}

.LinkPrimary.is-onDark {
  color: #FFFFFF;
}

.LinkPrimary.is-onDark:hover {
  color: #D75B5B;
}

.LinkForNav {
  text-decoration: none;
  letter-spacing: 0.1rem;
  border: 2px solid transparent;
  padding: 8px 10px;
}

.LinkForNav.is-onLight {
  color: #666666;
}

.LinkForNav.is-onLight:hover {
  border: 2px solid #666666;
}

.LinkForNav.is-onLight.is-selected {
  color: #333333;
  border: 2px solid #333333;
}

.LinkForNav.is-onDark {
  color: #999999;
}

.LinkForNav.is-onDark:hover {
  border: 2px solid #999999;
}

.LinkForNav.is-onDark.is-selected {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.LinkForNav.is-emphasized {
  color: #68A3CF;
}

.LinkForNav.is-emphasized:hover {
  border: 2px solid #68A3CF;
}

.LinkForNav.is-emphasized.is-selected {
  color: #68A3CF;
  border: 2px solid #68A3CF;
}

.LinkForNav--home {
  text-decoration: none;
  color: #CACFD5;
}

.LinkForNav--home:hover {
  color: #666666;
}

.PrimaryNav {
  margin: 0;
  display: flex;
  align-content: stretch;
  justify-content: flex-end;
}

.PrimaryNav-Home {
  margin: 0;
  font-family: kepler-std-display;
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  flex: 1;
}

.PrimaryNav-List--h {
  display: inline;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.PrimaryNav-Item--h {
  display: inline-block;
  margin: 0 0 0 75px;
  font-family: aktiv-grotesk-std;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.PrimaryNav-Item--h:first-child {
  margin: 0;
}

.Content-Header {
  margin: 75px auto 60px auto;
  padding: 0 100px;
}

.Content-Footer {
  clear: both;
  border-top: 1px solid #e6e6e6;
  margin: 75px auto 25px auto;
}

.FooterNav {
  max-width: 1280px;
  padding: 30px 100px;
  margin: 25px auto 25px auto;
}

.FooterNav-SignOff {
  font-family: kepler-std-display;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  text-transform: none;
  color: #CACFD5;
  margin: 0;
}

.FooterNav-Contact {
  font-family: aktiv-grotesk-std;
  font-size: 1.4rem;
  color: #CACFD5;
  margin: 75px 0 0 0;
}

.FooterNav-Copyright {
  font-family: aktiv-grotesk-std;
  font-size: 1.2rem;
  color: #CACFD5;
  margin: 0;
}

.Intro {
  margin: 225px 0 175px 0;
  padding: 0 100px;
}

.Intro-Greeting {
  color: #D75B5B;
  font-family: kepler-std-display;
  font-weight: 400;
  font-size: 2.0rem;
  letter-spacing: 0.1rem;
  margin: 0 0 0 12px;
}

.Intro-Name {
  font-family: aktiv-grotesk-std;
  font-weight: 500;
  font-size: 9.0rem;
  text-transform: uppercase;
}

.Intro-Name--first {
  font-family: kepler-std-display;
  font-weight: 200;
  font-style: italic;
  font-size: 10.0rem;
  margin-right: -12px;
}

.Intro-Description {
  color: #999999;
  font-family: kepler-std-display;
  font-size: 1.9rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  max-width: 530px;
  margin-left: 217px;
}

.Container-RecentWork {
  background-color: #666666;
  background-image: url("../img/bg-recentwork-remotejobs.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
}

.RecentWork {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  padding: 25px 100px 25px 100px;
}

.RecentWork-Title {
  position: relative;
  top: -65px;
  margin: 0;
  color: #999999;
  font-family: aktiv-grotesk-std;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.WorkSample--fullWidth {
  width: 100%;
  overflow: auto;
  padding: 0 0 25px 0;
}

.WorkSample-Logo {
  display: block;
  margin: 0 0 10px 0;
}

.WorkSample-Description {
  width: 75%;
  margin: 0;
  float: left;
  font-family: kepler-std-display;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: #CACFD5;
}

.WorkSample-CaseStudyLink {
  font-size: 1.4rem;
  text-transform: uppercase;
  float: right;
  position: relative;
  top: -25px;
}

.SelectedWork {
  margin: 100px 0 75px 0;
  padding: 0 100px;
}

.SelectedWork-Title {
  font-family: kepler-std-display;
  font-size: 6.2rem;
  line-height: 6.2rem;
  letter-spacing: 0.1rem;
  text-transform: normal;
  margin: 0 0 10px 0;
}

.SelectedWork-Description {
  font-family: kepler-std-display;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
  color: #999999;
  width: 80%;
  margin: 0;
}

.WorkGallery {
  background-color: #333333;
  overflow: hidden;
}

.WorkGallery-Row {
  width: 100%;
  list-style-type: none;
  list-style-position: inside;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.WorkGallery-Item--halfLeft, .WorkGallery-Item--halfRight, .WorkGallery-Item--quarter, .WorkGallery-Item--full {
  position: relative;
  margin: 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;
}

.WorkGallery-Item--halfLeft {
  float: left;
  width: 50%;
  height: 450px;
}

.WorkGallery-Item--halfRight {
  float: right;
  width: 50%;
  height: 450px;
}

.WorkGallery-Item--quarter {
  float: left;
  width: 25%;
  height: 225px;
}

.WorkGallery-Item--full {
  width: 100%;
  height: 450px;
  clear: both;
}

[class*='ProjectItem--'] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: background-color .2s ease-out;
}

[class*='ProjectItem--']:after {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  content: " ";
  background: -moz-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 300;
  transition: all .2s ease-out;
}

[class*='ProjectItem--']:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.ProjectItem--Hudl {
  background-color: #1D2A3A;
}

.ProjectItem--RemoteJobs {
  background-image: url("../img/bg-recentwork-remotejobs.png");
  background-position: 30% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProjectItem-Link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.ProjectItem-Logo {
  margin: 0 auto 0 auto;
  width: auto;
  z-index: 400;
}

.ProjectItem-Data {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  z-index: 400;
}

.ProjectData-Year {
  font-family: kepler-std-display;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #CACFD5;
  margin: 0 0 0 0;
}

.ProjectData-Name {
  font-family: aktiv-grotesk-std;
  font-size: 2.0rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.Content-ProjectHeader--Hudl {
  margin: 0 auto;
  height: 600px;
  width: 100%;
}

.Content-ProjectHeader--Hudl {
  background-color: #1D2A3A;
  background-image: url("../img/project-hudl/bg-hudl-header.png");
  background-position: 65% 160%;
  background-repeat: no-repeat;
}

.ProjectHeader-Nav {
  padding: 75px 100px 0 100px;
  margin: 0 auto 60px auto;
  max-width: 1280px;
}

.ProjectHeader-Image {
  position: relative;
  top: 30%;
  padding: 0 100px 0 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.ProjectStory {
  padding: 50px 100px 50px 100px;
  max-width: 1280px;
}

.ProjectIntro {
  max-width: 60%;
}

.ProjectIntro-Category {
  font-size: 1.2rem;
  line-height: 2.0rem;
  letter-spacing: 0.1rem;
  color: #999999;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
}

.ProjectIntro-Title {
  font-size: 5.6rem;
  line-height: 5.6rem;
  letter-spacing: 0.1rem;
}

.ProjectIntro-Description {
  font-family: kepler-std-display;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #666666;
}
