<footer class="grid--maxwidth grid--outsidegutters site-footer">
  
  <div class="footer-nav">

    {% include navigation.html footer="true" %}
    
    <p class="footer-nav__contact">
        You say something?. Oh, well then <a class="link" href="mailto:hi@nick-adams.com">Email</a> or <a class="link" href="https://www.twitter.com/nickadamssays">Twitter</a> is best.
    </p>
    <p class="footer-nav__copyright">
        The code for this site is available on <a class="link" href="https://www.github.com/nick-adams/site">GitHub</a> for perusing and judging. All work and content is my own. Protip: Copyright exists with or without that little &copy; symbol.
    </p>

  </div>

</footer>

