<footer class="grid--fullwidth site-footer">

  <div class="grid--maxwidth grid--outsidegutters">
    
    <div class="footer-nav">

      {% include navigation.html footer="true" %}
      
      <p class="footer-nav__contact">
          You say something? Oh. Well <a class="link" href="mailto:hi@nick-adams.com">Email</a> or <a class="link" href="https://www.twitter.com/nickadamssays">Twitter</a> is best.
      </p>
      <p class="footer-nav__copyright">
          The code for this site is available on <a class="link" href="https://www.github.com/nick-adams/nick-adams.com">GitHub</a> for perusing and judging. All work and content is my own. Copyright exists with or without that &copy; symbol.
      </p>

    </div>

  </div>

</footer>

