<nav class="site-nav">
{% if include.footer != 'true' %}
  {% unless page.header_name == 'hidden' %}
    <div class="site-nav__main">
      <a class="site-nav__link--name" href="{{ site.baseurl }}/">Nick Adams</a>
      <a href="https://www.twitter.com/nickadamssays" class="site-nav__link--twitter">@nickadamssays</a>
    </div>
  {% endunless %}
{% else %}
  <div class="site-nav__main"><p class="footer-nav__signoff">Thanks for visiting.</p></div>
{% endif %}
  <ul class="site-nav__items--horiz">
    <li class="site-nav__item--horiz">
      <a class="site-nav__link {% if include.footer == 'true' %} is--on-light {% else %} {{ page.nav_color }} {% endif %} {% if page.nav_selected == 'about' %} is--selected {% endif %}" href="{{ site.baseurl }}/about/">About</a>
    </li>
    <li class="site-nav__item--horiz">
      <a class="site-nav__link {% if include.footer == 'true' %} is--on-light {% else %} {{ page.nav_color }} {% endif %} {% if page.nav_selected == 'work' %} is--selected {% endif %}" href="{{ site.baseurl }}/work/">Work</a>
    </li>
    <li class="site-nav__item--horiz">
      <a class="site-nav__link {% if include.footer == 'true' %} is--on-light {% else %} {{ page.nav_color }} {% endif %} {% if page.nav_selected == 'notes' %} is--selected {% endif %}" href="{{ site.baseurl }}/notes/">Notes</a>
    </li>
    <li class="site-nav__item--horiz">
      <a class="site-nav__link {% if include.footer == 'true' %} is--on-light {% else %} {{ page.nav_color }} {% endif %} is--emphasized {% if page.nav_selected == 'consulting' %} is--selected {% endif %}" href="{{ site.baseurl }}/freelance/">Freelance</a>
    </li>
  </ul>
</nav>