<nav class="PrimaryNav">
    {% unless page.nav_selected == 'home' %}
        {% if include.footer == 'true' %} 
            <div class="PrimaryNav-Home"><p class="FooterNav-SignOff">Thank you for your time.</p></div>
        {% else %}
            <div class="PrimaryNav-Home"><a class="LinkForNav--home" href="{{ site.baseurl }}/">Nick Adams</a></div>
        {% endif %}
    {% endunless %}
    <ul class="PrimaryNav-List--h">
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {% if include.footer == 'true' %} is-onLight {% else %} {{ page.nav_color }} {% endif %} {% if page.nav_selected == 'about' %} is-selected {% endif %}" href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {% if include.footer == 'true' %} is-onLight {% else %} {{ page.nav_color }} {% endif %} {% if page.nav_selected == 'work' %} is-selected {% endif %}" href="{{ site.baseurl }}/work/">Work</a>
        </li>
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {% if include.footer == 'true' %} is-onLight {% else %} {{ page.nav_color }} {% endif %} {% if page.nav_selected == 'notes' %} is-selected {% endif %}" href="{{ site.baseurl }}/notes/">Notes</a>
        </li>
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {% if include.footer == 'true' %} is-onLight {% else %} {{ page.nav_color }} {% endif %} is-emphasized {% if page.nav_selected == 'consulting' %} is-selected {% endif %}" href="{{ site.baseurl }}/consulting/">Consulting</a>
        </li>
    </ul>
</nav>