<nav class="PrimaryNav">
    <ul class="PrimaryNav-List--h">
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {{ page.nav_color }}" href="#">About</a>
        </li>
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {{ page.nav_color }}" href="#">Work</a>
        </li>
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {{ page.nav_color }}" href="#">Notes</a>
        </li>
        <li class="PrimaryNav-Item--h">
            <a class="LinkForNav {{ page.nav_color }} is-emphasized" href="#">Consulting</a>
        </li>
    </ul>
</nav>