// -------------------------
// About Page Styles
// -------------------------


// Main Content
// ============================================

.about {
  margin: $space_ten auto $space_five auto ;
}
  .about__title {
    font-family: $font_serif;
    font-size: $font_size_xxxl;
    text-transform: normal;
    margin: 0 0 $space_two 0;
  }
  .about__heading {
    // text-transform: uppercase;
    // font-size: $font_size_md;
    color: $color_greyscale_06;
    margin: 0 0 $space_one 0;
    // font-weight: 400;
  }
  .about__body {
    line-height: 2rem;
    color: $color_text_06;
  }
  .about__signature {
    width: 136px;
    height: 46px;
  }
  .about__aside {
    margin-left: $space_two;
  }
  .about__caption {
    font-family: $font_serif;
    font-size: $font_size_md;
    font-style: italic;
    letter-spacing: $letter_spacing_wide;
    color: $color_text_06;
  }

  .about__contacts {
    display: flex;
    margin-top: $space_two;
    padding-top: $space_one;
    border-top: $border_thin_light;
  }
    .contact__item {
      width: 175px;
    }
    .contact__item:not(:last-of-type) {
      margin-right: $space_half;
    }
    .contact__item > dt {
      font-weight: 800;
      font-size: .75rem;
      text-transform: uppercase;
      color: $color_text_03;
      margin: 2px 0 -4px 0;
    }
    .contact__item > dd {
      margin: 0;
      padding: 0;
      @extend .text--sm;
    }

// Professional History Timeline
// ============================================

.about__timeline {
  min-height: 275px;
  padding: $space_three 0 $space_two 0;
  margin: 0 0 $space_three 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 39%, rgba(248, 248, 248, 1) 100%);
  position: relative;
  border-top: $border_thin_light;
  // border-bottom: $border_thin_light;
  // background-color: rgba(0,0,0,.7);
}
  .timeline__line {
    background-image: linear-gradient(-90deg, #FBDA61 0%, #FF7E7E 100%);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 167px;
    z-index: $z_bottom;
  }

  .timeline__years {
    display: flex;
    margin: $space_one 0 0 0;
    justify-content: space-between; 
  }
    .timeline__year--left {
      color: $color_brand_tertiary;
      font-size: $font_size_sm;
      font-weight: 800;
      text-transform: uppercase;
    }
    .timeline__year--right {
      color: $color_brand_tertiary;
      font-size: $font_size_sm;
      font-weight: 800;
      text-transform: uppercase;
    }
  .timeline__items {
    display: flex;
  }
    .timeline__item {
      position: relative;
      z-index: $z_level1;
      width: 90px;
      // flex-grow: 1;
    }
      .timeline__item__year {
        font-size: $font_size_sm;
        color: $color_greyscale_04;
        font-weight: 800;
        margin: $space_one 0 $space_half 0;
      }
      .timeline__item__dot {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color_brand_secondary;
        border: 3px solid #ffffff;
        z-index: $z_level1;
        margin: 0;
      }
      .timeline__item__title {
        font-size: $font_size_sm;
        line-height: $line_height_xs;
        color: $color_greyscale_06;
        font-weight: 800;
        margin: $space_half 0 $space_half 0;
      }


// Side Projects
// ============================================

.about__side-projects {
  list-style-type: none;
  list-style-position: inside;
  margin: $space_two 0 $space_three 0;
  padding: 0;
}
  .side-projects__item {
    color: $color_text_06;
    margin: 0 0 $space_three 0;
  }
    .side-projects__logo {
      float: left;
      display: inline-block;
      margin: -3px $space_one 0 0;
      height: 4rem;
      width: 4rem;
    }
    .side-projects__title {
      font-size: $font_size_md;
      font-weight: 800;
      margin: 0;
    }
    .side-projects__description {
      font-size: $font_size_sm;
      margin: 0;
    }
