// -------------------------
// About Page Styles
// -------------------------

.about {
  margin: $space_ten auto $space_five auto ;
}
  .about__title {
    font-family: $font_serif;
    font-size: $font_size_xxxl;
    text-transform: normal;
    margin: 0 0 $space_three 0;
  }
  .about__heading {
    // text-transform: uppercase;
    // font-size: $font_size_md;
    color: $color_greyscale_06;
    margin: 0;
  }
  .about__body {
    line-height: 2rem;
    color: $color_text_06;
  }
  .about__caption {
    font-family: $font_serif;
    font-size: $font_size_md;
    font-style: italic;
    letter-spacing: $letter_spacing_wide;
    color: $color_text_06;
  }

  .about__contacts {
    display: flex;
    margin-top: $space_two;
    padding-top: $space_one;
    border-top: $border_thin_light;
  }
    .contact__item:not(:last-of-type) {
      margin-right: $space_three;
    }
    .contact__item > dt {
      font-weight: 800;
      font-size: .75rem;
      text-transform: uppercase;
      color: $color_text_03;
    }
    .contact__item > dd {
      margin: 0;
      padding: 0;
      @extend .text--sm;
    }

.about__timeline {
  min-height: 275px;
  padding: $space_three 0 $space_two 0;
  margin: 0 0 $space_three 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 39%, rgba(248, 248, 248, 1) 100%);
  position: relative;
}
  .timeline__line {
    background-image: linear-gradient(-90deg, #FBDA61 0%, #FF7E7E 100%);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 167px;
    z-index: $z_bottom;
  }

  .timeline__years {
    display: flex;
    margin: $space_one 0 0 0;
    justify-content: space-between; 
    color: $color_brand_tertiary;
    font-size: $font_size_sm;
    font-weight: 800;
    text-transform: uppercase;
  }
    .timeline__years--left {
    }
    .timeline__year--right {
     
    }
  .timeline__items {
    display: flex;
  }
    .timeline__item {
      position: relative;
      z-index: $z_level1;
      width: 90px;
      // flex-grow: 1;
    }
      .timeline__item__year {
        font-size: $font_size_sm;
        color: $color_greyscale_04;
        font-weight: 800;
        margin: $space_one 0 $space_half 0;
      }
      .timeline__item__dot {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color_brand_secondary;
        border: 3px solid #ffffff;
        z-index: $z_level1;
        margin: 0;
      }
      .timeline__item__title {
        font-size: $font_size_sm;
        line-height: $line_height_md;
        color: $color_greyscale_06;
        font-weight: 800;
        margin: $space_half 0 $space_half 0;
      }

