// -------------------------
// About Page Styles
// -------------------------

.About {
    margin: -25px 0 175px 0;
    padding: 0 100px;
}

    .About-Body {
        font-family: $font_sans;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: $color_text_05;
        margin: 0px 0 30px 0;
        width: 50%;
    }
    .About-Graphic {
        float: right;
        width: 356px;
        height: 334px;
        margin: -30px 50px 0 0;
    }