// -------------------------
// About Page Styles
// -------------------------

.about {
  margin: $spacer_ten auto;
}
  .about__title {
    font-family: $font_serif;
    font-size: $font_size_xxxl;
    text-transform: normal;
    margin: 0 0 $spacer_three 0;
  }
  .about__body {
    line-height: 2rem;
    color: $color_text_06;
  }
  .about__caption {
    font-family: $font_serif;
    font-size: $font_size_md;
    font-style: italic;
    letter-spacing: $letter_spacing_wide;
    color: $color_text_06;
  }

  .about__contacts {
    display: flex;
    margin-top: $spacer_four;
    padding-top: $spacer_one;
    border-top: $border_thin_light;
  }
    .contact__item:not(:last-of-type) {
      margin-right: $spacer_three;
    }
    .contact__item > dt {
      font-weight: 800;
      font-size: .75rem;
      text-transform: uppercase;
      color: $color_text_03;
    }
    .contact__item > dd {
      margin: 0;
      padding: 0;
      @extend .text--sm;
    }



