// -------------------------
// About Page Styles
// -------------------------


.about__body {
  line-height: 2rem;
  color: $color_text_06;
}
.about__caption {
  font-family: $font_serif;
  font-size: $font_size_md;
  font-style: italic;
  letter-spacing: $letter_spacing_wide;
  color: $color_text_06;
}
    .About-Graphic {
        float: right;
        width: 356px;
        height: 334px;
        margin: -30px 50px 0 0;
    }