// -------------------------
// Consulting Page Styles
// -------------------------

.AboutIntro {
    margin: 100px 0 75px 0;
    padding: 0 100px;
}
    .AboutIntro-Title {
        font-family: $font_serif;
        font-size: 6.2rem;
        line-height: 6.2rem;
        letter-spacing: 0.1rem;
        text-transform: normal;
        margin: 0 0 10px 0;
    }
    .AboutIntro-Description {
        font-family: $font_serif;
        font-size: 1.8rem;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        color: $color_text_00;
        width: 80%;
        margin: 0;
    }