// -------------------------
// Footer
// -------------------------

.Content-Footer {
    clear: both;
    border-top: $border_thin_light;
    margin: 75px auto 25px auto;
}
    .FooterNav {
        max-width: $page_max_width;
        padding: 30px 100px;
        margin: 25px auto 25px auto;
        
    }
        .FooterNav-SignOff {
            font-family: $font_serif;
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
            text-transform: none;
            color: $color_text_00;
            margin: 0;
        }
        .FooterNav-Contact {
            font-family: $font-sans;
            font-size: 1.4rem;
            color: $color_text_00;
            margin: 75px 0 0 0;
        }
        .FooterNav-Copyright {
            font-family: $font-sans;
            font-size: 1.2rem;
            color: $color_text_00;
            margin: 0;
        }