// -------------------------
// Footer
// -------------------------

.site-footer {

}
  .footer-nav {
    border-top: $border_thin_light;
  }
    .footer-nav__signoff {
        font-family: $font_serif;
        font-size: $font_size_lg;
        letter-spacing: $letter_spacing_wide;
        color: $color_text_03;
        margin: 0;
    }
    .footer-nav__contact {
      font-family: $font-sans;
      font-size: $font_size_sm;
      color: $color_text_03;
      margin: $spacer_five 0 0 0;
      width: 30rem;
    }
    .footer-nav__copyright {
      font-family: $font-sans;
      font-size: $font_size_xs;
      line-height: 1rem;
      color: $color_text_03;
      margin: $spacer_one 0 0 0;
      width: 30rem;
    }