// Footer
// -------------------------

.Content-Footer {
    clear: both;
    border-top: 1px solid lighten($gray_light, 30%);
    margin: 75px auto 25px auto;
}
    .FooterNav {
        max-width: $max-width;
        padding: 30px 100px;
        margin: 25px auto 25px auto;
        
    }
        .FooterNav-SignOff {
            font-family: $font_serif;
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
            text-transform: none;
            color: $text_xlight_color;
            margin: 0;
        }
        .FooterNav-Contact {
            font-family: $font-sans;
            font-size: 1.4rem;
            color: $text_xlight_color;
            margin: 75px 0 0 0;
        }
        .FooterNav-Copyright {
            font-family: $font-sans;
            font-size: 1.2rem;
            color: $text_xlight_color;
            margin: 0;
        }