// -------------------------
// Work / Project Page Styles
// -------------------------

.project {
  padding-top: 50px;

  @media (min-height: 775px) {
    padding-top: 250px;  
  }

}

.project-feature {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 475px; 
  background-color: $color_dark;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: $z-behind;

  @media (min-height: 775px) {
    height: 700px;
  }

}

  .project-feature__backlink {
    display: block;
    margin: -#{$space_oneandhalf} 0 0 0;
    color: $color_white;
    text-decoration: none;
  }
    .project-feature__backlink:hover {
      display: block;
      margin: -#{$space_oneandhalf} 0 0 $space_quarter;
      color: $color_greyscale_01;
      text-decoration: none
    }

  .project-feature__title {
    font-size: 6.25rem;
    line-height: 6.25rem;
    font-family: $font_serif;
    color: $color_white;
    width: $content_normal;
  }


.project-content {
  background-color: $color_white;
  min-height: 1000px;
  padding: $space_three 0 $space_ten 0;
  overflow: hidden;
}

  .project__year {
    color: $color_brand_primary;
    margin: 0 0 $space_one 0;
  }

  .project__headline {
    font-size: $font_size_xxxl;
    font-family: $font_serif;
    line-height: $line_height_xxl;
    margin: 0 0 $space_one 0;
    
  }
  .project__subheadline {
    margin: 0 0 $space_one 0;
    color: $color_greyscale_05;
    line-height: $line_height_lg;
  }

  .project__details {
    display: flex;
    margin: $space_four auto;
    padding: $space_one 0 0 0;
    border-top: $border_thin_light;
    font-size: $font_size_sm;
  }
    .details__item:not(:last-of-type) {
      margin-right: $space_three;
    }

    .details__item > dt {
      font-weight: 800;
      font-size: .75rem;
      text-transform: uppercase;
      color: $color_text_03;
    }
    .details__item > dd {
      margin: 0;
      padding: 0;
    }

  .project__casestudy > h1 {
    @extend .heading--xl;
    color: $color_text_06;
    margin: $space_four 0 $space_four 0;
  }

  .project__casestudy > h2 {
    @extend .heading--lg;
    color: $color_text_06;
    margin: $space_four 0 $space_two 0;
  }

  // .project__heading:not(:first-child) {
  //   color: $color_text_06;
  //   margin: $space_four 0 $space_two 0;
  //   font-weight: 400;
  // }

  .project__casestudy > h3 {
    font-size: $font-size-md;
    color: $color_text_06;
    margin: $space_two 0 $space_one 0;
  }

  .project__casestudy > h4 {
    @extend .heading--sm;
    color: $color_text_04;
    margin: 0 0 $space_one 0;
  }

  // .project__subheading {
  //   color: $color_text_04;
  //   margin: 0 0 $space_one 0;
  // }

  .project__casestudy img {
    margin: $space_one 0;
    float: left;
    max-width: $content_wide;
  }

  .project__casestudy > p {
    @extend .text-spread--md;
    color: $color_text_06; 
    @extend .u-clear;
  }
  
  .project__casestudy ul {
    @extend .list--unordered;
    margin: $space_one 0 $space_half $space_one;
    color: $color_text_06; 
    line-height: $line_height_lg; 
  }
  
    .project__casestudy ul > li {
      padding: 0;
      margin: 0 0 $space_half 0;
      color: $color_text_06; 
    }

  .project__casestudy > hr {
    display: block;
    border: none;
    background-color: $color_greyscale_01;
    height: 2px;
    margin: $space_four 0 0 0;
    @extend .u-clear;
  }


  .project__aside {
    margin-top: 475px;
  }

    .aside__item {
      margin: $space_two;
      border-left: $border_thick_light;
      padding: $space_one;
      color: $color_text_06; 
    }

      .aside__item > h4 {
        @extend .heading--sm;
        color: $color_text_04;
        margin: 0 0 $space_one 0;
      }

      .aside__item ul li {
        @extend .text--sm;
        padding: 0;
        margin: 0 0 $space_half 0;
        color: $color_text_06; 
      }
