// Work > Project Page Styles
// ------------------------------

%Content-ProjectHeader {
    margin: 0 auto;
    height: 600px;
    width: 100%;
}
.Content-ProjectHeader--Hudl {
    @extend %Content-ProjectHeader;
    background-color: #1D2A3A;
    background-image: url("../img/project-hudl/bg-hudl-header.png");
    background-position: 65% 160%;
    background-repeat: no-repeat;
}
    
    .ProjectHeader-Nav {
        padding: 75px 100px 0 100px;
        margin: 0 auto 60px auto;
        max-width: $max-width;
    }
    .ProjectHeader-Image {
        position: relative;
        top: 30%;
        padding: 0 100px 0 100px;
        max-width: $max-width;
        margin: 0 auto;
    }

    .ProjectStory {
        padding: 50px 100px 50px 100px;
        max-width: $max-width;
    }
        .ProjectIntro {
            max-width: 60%;
        }
            .ProjectIntro-Category {
                font-size: 1.2rem;
                line-height: 2.0rem;
                letter-spacing: 0.1rem;
                color: $text_light_color;
                text-transform: uppercase;
                border-bottom: 1px solid lighten($gray_light, 30%);
                padding: 0 0 5px 0;
                margin: 0 0 20px 0;
            }
            .ProjectIntro-Title {
                font-size: 5.6rem;
                line-height: 5.6rem;
                letter-spacing: 0.1rem;
            }
            .ProjectIntro-Description {
                font-family: $font_serif;
                font-size: 1.8rem;
                line-height: 2.8rem;
                color: $text_medium_color;

            }