// Work Page Styles
// -------------------------

.WorkGallery {
    background-color: $gray_dark;
    overflow: hidden;
}
    .WorkGallery-Row {
        width: 100%;
        list-style-type: none;
        list-style-position: inside;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
        // Base Gallery Item Styles
        %WorkGallery-Item {
            position: relative;
            margin: 0;
            background-size: cover;
            background-position: center center;
            text-align: center;
            overflow: hidden;
        }
        .WorkGallery-Item--halfLeft {
            @extend %WorkGallery-Item;
            float: left;
            width: 50%;
            height: 450px;
        }
        .WorkGallery-Item--halfRight {
            @extend %WorkGallery-Item;
            float: right;
            width: 50%;
            height: 450px;
        }
        .WorkGallery-Item--quarter {
            @extend %WorkGallery-Item;
            float: left;
            width: 25%;
            height: 225px;
        }
        .WorkGallery-Item--full {
            @extend %WorkGallery-Item;
            width: 100%;
            height: 450px;
            clear: both;
        }

            [class*='ProjectItem--'] {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                transition: background-color .2s ease-out;
            }
                [class*='ProjectItem--']:after {
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    content: " ";
                    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
                    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
                    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
                    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
                    z-index: $z-level3;
                    transition: all .2s ease-out;
                }
                [class*='ProjectItem--']:hover:after {
                    background-color: rgba(0, 0, 0, 0.3);
                }

            .ProjectItem--Hudl {
                background-color: #1D2A3A;
            }
            .ProjectItem--RemoteJobs {
                background-image: url("../img/bg-recentwork-remotejobs.png");
                background-position: 30% 10%;
                background-repeat: no-repeat;
                background-size: cover;
            }

                .ProjectItem-Link {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: $z-level5;
                }
                .ProjectItem-Logo {
                    @extend .h-verticalAlign;
                    margin: 0 auto 0 auto;
                    width: auto;
                    z-index: $z-level4;
                }
                .ProjectItem-Data {
                    position: absolute;
                    bottom: 10%;
                    width: 100%;
                    text-align: center;
                    z-index: $z-level4;
                }

                    .ProjectData-Year {
                        font-family: $font_serif;
                        font-size: 1.6rem;
                        letter-spacing: 0.1rem;
                        color: $text_xlight_color; 
                        margin: 0 0 0 0;
                    }
                    .ProjectData-Name {
                        font-family: $font_sans;
                        font-size: 2.0rem;
                        letter-spacing: 0.25rem;
                        text-transform: uppercase;
                        color: $white;
                        margin: 0;
                    }
