// ============================================
// Config: Default
// This is the Default config containing all 
// the initial configurations and styles.
// --------------------------------------------
// Table of Contents:
// - General
// - Sizes
//    - Root Size
//    - Page Sizes
//    - Grid Sizes
//    - Type Sizes
//    - Element Property Sizes
// - Positioning
//    - Z-Index
// - Spacing
// - Breakpoints
// - Colors
//    - Brand Colors
//    - Base Colors
//    - UI Colors
// - Font Stack
// - Borders
// - Shadows
// - Transitions

// ============================================

// Instructions:
// All of these definitions are required, but they
// can be customized and packaged as a new config by
// duplicating this file, renaming it, and importing 
// that into 'framing.scss' instead of this.


// General
// ============================================

// Can be used as a class name prefix for namespacing
$namespace:             '';


// Sizes
// ============================================

// Root Size 
// This is defined on <html> in _globals.scss. Meaning
// all subsequent rem size definitions are relative to this. 
$root_size:             16px;

// Page Sizes
$page_max_width:        80rem;      // 1280px

// Grid Sizes
$grid_width:            100%;
$grid_gutter_width:     1.25rem;    // 20px
$grid_outsidegutter_width: 6.25rem; // 100px
$grid_col_onewhole:     calc((#{$grid_width} / 1));         // ~100%
$grid_col_seveneighths: calc(((#{$grid_width} / 8) * 7));   // ~87.5%
$grid_col_threequarters: calc(((#{$grid_width} / 4) * 3));   // ~75%
$grid_col_twothirds:    calc(((#{$grid_width} / 3) * 2));   // ~66%
$grid_col_onehalf:      calc((#{$grid_width} / 2));         // ~50%
$grid_col_onethird:     calc((#{$grid_width} / 3));         // ~33%
$grid_col_onequarter:   calc((#{$grid_width} / 4));         // ~25%
$grid_col_oneeighth:    calc((#{$grid_width} / 8));         // ~12.5%
$grid_col_onetenth:     calc((#{$grid_width} / 10));        // ~10%
$grid_col_onetwelfth:   calc((#{$grid_width} / 12));        // ~8.3%

// Type Sizes
$font_size_base:        1rem;       // 16px (inherits $root_size)
$line_height_base:      1.5rem;     // 24px

$font_size_scale:       1.333;      // Perfect Fourth

$font_size_xs:          $font_size_base / $font_size_scale; // 0.75rem
$font_size_sm:          $font_size_base / 1.142;            // 0.875rem (extra size)
$font_size_md:          $font_size_base;                    // 1.0rem
$font_size_lg:          $font_size_md  * $font_size_scale;  // 1.333rem
$font_size_xl:          $font_size_lg  * $font_size_scale;  // 1.777rem
$font_size_xxl:         $font_size_xl  * $font_size_scale;  // 2.369rem
$font_size_xxxl:        $font_size_xxl * $font_size_scale;  // 3.157rem

$line_height_xs:        $font_size_base / $font_size_scale;
$line_height_sm:        $font_size_base / 1.142; 
$line_height_md:        $font_size_base;
$line_height_lg:        $font_size_md  * $font_size_scale;
$line_height_xl:        $font_size_lg  * $font_size_scale;
$line_height_xxl:       $font_size_xl  * $font_size_scale;
$line_height_xxxl:      $font_size_xxl * $font_size_scale;

$letter_spacing_tight:  -0.5px;
$letter_spacing_normal: 0px;
$letter_spacing_wide:   1px;
$letter_spacing_xwide:  2px;

// Element Property Sizes
$radius:                0.25em;     // 4px, will also be based on parent font-size (if defined).

// Content Widths
$content_narrow:        20rem;
$content_regular:       45rem;
$content_wide:          60rem;

// Item Sizes
$item_xs:               1rem;
$item_sm:               20rem;
$item_md:               20rem;
$item_lg:               20rem;
$item_xl:               20rem;

// Positioning
// ============================================

// Z-Index
$z_behind:              -1;
$z_bottom:              1;
$z_bg:                  10;
$z_level1:              100;
$z_level2:              200;
$z_level3:              300;
$z_level4:              400;
$z_level5:              500;
$z_level6:              600;
$z_level7:              700;
$z_level8:              800;
$z_level9:              900;
$z_nav:                 1000;
$z_popover:             2000;
$z_alert:               3000;
$z_overlay:             4000;
$z_modal:               5000;
$z_top:                 999999;

// Spacing
// ============================================

// Spacing based on root font-size.
$space_eighth:          0.125rem; // 2px
$space_quarter:         0.25rem;  // 4px
$space_half:            0.50rem;  // 8px
$space_one:             1rem;     // 16px
$space_oneandhalf:      1.5rem;   // 24px
$space_two:             2rem;     // 32px
$space_three:           3rem;     // 48px
$space_four:            4rem;     // 64px
$space_five:            5rem;     // 80px
$space_six:             6rem;     // 96px
$space_seven:           7rem;     // 112px
$space_eight:           8rem;     // 128px
$space_nine:            9rem;     // 144px
$space_ten:              10rem;    // 160px

// Negative spacing
$space_neg_one:        -1em;
$space_neg_two:        -2em;


// Breakpoints
// ============================================

// Phones
$bp_sm:                 40rem; // 640px

// Tablets
$bp_md:                 64rem; // 1024px

// Laptops and Desktops
$bp_lg:                 90rem; // 1440px

// Large Screens and TVs
$bp_xl:                 120rem; // 1920px


// Colors
// ============================================
// This is the main color scheme. Variations can 
// be created as needed in other classes by 
// lightening or darkening these (using 'mix()').

// Brand Colors
$color_brand_primary:   #D75B5B;
$color_brand_secondary: #68A3CF;
$color_brand_tertiary:  #FBCF64;
// $color_brand_accent:    #63c6f3;

// Base Colors
$color_white:           #ffffff;
$color_black:           #000000;
// $color_red:             #ececec;
// $color_red_tint:        #ececec;
// $color_red_shade:       #ececec;
// $color_orange:          #ececec;
// $color_orange_tint:     #ececec;
// $color_orange_shade:    #ececec;
// $color_yellow:          #ececec;
// $color_yellow_tint:     #ececec;
// $color_yellow_shade:    #ececec;
// $color_green:           #ececec;
// $color_green_tint:      #ececec;
// $color_green_shade:     #ececec;
// $color_blue:            #ececec;
// $color_blue_tint:       #ececec;
// $color_blue_shade:      #ececec;
// $color_purple:          #ececec;
// $color_purple_tint:     #ececec;
// $color_purple_shade:    #ececec;
// $color_pink:            #ececec;
// $color_pink_tint:       #ececec;
// $color_pink_shade:      #ececec;

// Greyscale Colors
$color_greyscale_00:    mix(black, $color_white, 5%);
$color_greyscale_01:    mix(black, $color_white, 10%);
$color_greyscale_02:    mix(black, $color_white, 20%);
$color_greyscale_03:    mix(black, $color_white, 30%);
$color_greyscale_04:    mix(black, $color_white, 40%);
$color_greyscale_05:    mix(black, $color_white, 50%);
$color_greyscale_06:    mix(black, $color_white, 60%);
$color_greyscale_07:    mix(black, $color_white, 70%);
$color_greyscale_08:    mix(black, $color_white, 80%);
$color_greyscale_09:    mix(black, $color_white, 90%);
$color_greyscale_10:    mix(black, $color_white, 95%);

// Neutral Colors
$color_neutral:         mix(black, $color_light, 5%);
$color_neutral_tint:    mix(white, $color_neutral, 30%);
$color_neutral_shade:   mix(black, $color_neutral, 20%);

// UI Main Colors
$color_light:           #ececec;
$color_dark:            #252525;
// $color_ui_light:           #ececec;
// $color_ui_dark:            #252525;

// UI Neutral Colors
$color_neutral:         mix(black, $color_light, 5%);
$color_neutral_tint:    mix(white, $color_neutral, 30%);
$color_neutral_shade:   mix(black, $color_neutral, 20%);

// UI BG Colors
$color_bg_light:        $color_greyscale_00;
$color_bg_dark:         $color_greyscale_08;


// UI Line Colors
$color_line_light:      $color_greyscale_02;
$color_line_dark:       $color_greyscale_08;

// UI Text Colors
$color_text_00:         $color_light;
$color_text_01:         mix(black, $color_light, 10%);
$color_text_02:         mix(black, $color_light, 20%);
$color_text_03:         mix(black, $color_light, 30%);
$color_text_04:         mix(black, $color_light, 40%);
$color_text_05:         mix(black, $color_light, 50%);
$color_text_06:         mix(black, $color_light, 60%);
$color_text_07:         mix(black, $color_light, 70%);
$color_text_08:         mix(black, $color_light, 80%);
$color_text_09:         mix(black, $color_light, 90%);
$color_text_10:         $color_dark;

// UI Link Colors
$color_link_light:      $color_action;
$color_link_dark:       $color_action;

// UI State & Interaction Colors
// $color_select:        #4990E2;
// $color_select_tint:   mix(white, $color_action, 30%);
// $color_select_shade:  mix(black, $color_action, 20%);
$color_action:          #4990E2;
$color_action_tint:     mix(white, $color_action, 30%);
$color_action_shade:    mix(black, $color_action, 20%);
$color_create:          #5DBC07;
$color_create_tint:     mix(white, $color_create, 30%);
$color_create_shade:    mix(black, $color_create, 20%);
$color_destroy:         #E63535;
$color_destroy_tint:    mix(white, $color_destroy, 30%);
$color_destroy_shade:   mix(black, $color_destroy, 20%);
$color_warn:            #FFB32F;
$color_warn_tint:       mix(white, $color_warn, 30%);
$color_warn_shade:      mix(black, $color_warn, 20%);


// Font Stack
// ============================================

// If using Web Fonts
@font-face {
    font-family:  kepler-std-display;
    font-weight:  normal;
    font-style:   normal;

    // If using Hosted Web Fonts (your own CDN)...
    // src: url('{path_to_webfont}.eot');
    //     src: url('{path_to_webfont}.eot?#iefix')        format('embedded-opentype'),
    //          url('{path_to_webfont}.woff')              format('woff'),
    //          url('{path_to_webfont}.ttf')               format('truetype'),
    //          url('{path_to_webfont}.svg#{font-family}') format('svg');
}
@font-face {
    font-family:  aktiv-grotesk-std;
    font-weight:  normal;
    font-style:   normal;

    // If using Hosted Web Fonts (your own CDN)...
    // src: url('{path_to_webfont}.eot');
    //     src: url('{path_to_webfont}.eot?#iefix')        format('embedded-opentype'),
    //          url('{path_to_webfont}.woff')              format('woff'),
    //          url('{path_to_webfont}.ttf')               format('truetype'),
    //          url('{path_to_webfont}.svg#{font-family}') format('svg');
}

$font_serif:            kepler-std-display, Georgia, serif;
$font_sans:             aktiv-grotesk-std, Helvetica, Arial, sans-serif;
$font_mono:             Monaco, Consolas, Courier New, monospace;
$font_system:           -apple-system,      // Safari for OS X and iOS (San Francisco)
                        system-ui,          // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
                        BlinkMacSystemFont, // Chrome < 56 for OS X (San Francisco)
                        "Segoe UI",         // Windows
                        "Roboto",           // Android
                        Helvetica, Arial, sans-serif !default; // Basic web fallback


// Borders
// ============================================

$border_thin_light:         solid 1px $color_greyscale_01;
$border_thin_dark:          solid 1px $color_greyscale_09;
$border_thin_primary:       solid 1px $color_brand_primary;
$border_thin_secondary:     solid 1px $color_brand_secondary;
$border_thin_transparent:   solid 1px transparent;
$border_thick_light:        solid 3px $color_greyscale_01;
$border_thick_dark:         solid 3px $color_greyscale_09;
$border_thick_primary:      solid 3px $color_brand_primary;
$border_thick_secondary:    solid 3px $color_brand_secondary;
$border_thick_transparent:  solid 3px transparent;


// Shadows
// ============================================

$shadow_color:          rgba(0, 0, 0, 0.15);
$shadow:                1px 1px 2px 0 $shadow_color;


// Transitions
// ============================================

$transition_slow:       .4s ease;
$transition_medium:     .2s ease;
$transition_fast:       .1s ease;
