// Variables & Configuration
// -------------------------

// Colors
$primary_color:     #D75B5B;
$secondary_color:   #68A3CF;

$white:             #FFFFFF;
$black:             #000000;
$gray_dark:         #333333;
$gray_medium:       #666666;
$gray_light:        #999999;
$gray_xlight:       #CCCCCC;

$link_light_color:  #FFFFFF;
$link_dark_color:   #FFFFFF;

$text_xlight_color: #CACFD5;
$text_light_color:  #9B9B9B;
$text_medium_color: #666666;
$text_dark_color:   #333333;

// Layout & Grid
$max_width:     1280px;
$fixed_width:   1080px;
$gutter:        40px; // adjusts gutter width for grid

// Display
$global_radius: 4px;

// Paths
