// Helper Classes
// -------------------------

// Clears floated content
.h-clear {
    content: "";
    display: table;
    clear: both;
}

.h-verticalAlign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.h-show {}
.h-hide {}

.h-lowercase {
    text-transform: lowercase !important;
}

.h-preventScroll {
    overflow: hidden;
}
