// Helper Classes
// -------------------------

// Clears floated content
.h-clear {
    content: "";
    display: table;
    clear: both;
}

.h-show {}
.h-hide {}

.h-lowercase {
    text-transform: lowercase !important;
}

.h-preventScroll {
    overflow: hidden;
}
