// Mixins
// -------------------------


// Create @font-face from a hosted web font
@mixin FontFace--hosted($font_family, $path_to_webfont, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font_family;
        font-weight: $weight;
        font-style: $style;

        src: url('#{$path_to_webfont}.eot');
        src: url('#{$path_to_webfont}.eot?#iefix')             format('embedded-opentype'),
             url('#{$path_to_webfont}.woff')                   format('woff'),
             url('#{$path_to_webfont}.ttf')                    format('truetype'),
             url('#{$path_to_webfont}.svg##{$font-family}')    format('svg');
    }
}

// Create @font-face from a TypeKit web font
@mixin FontFace--typekit($font_family, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font_family;
        font-weight: $weight;
        font-style: $style;
    }
}