// ---------------------------
// Variables & Configurations
// ---------------------------

// Layout & Grid
$max_width:     1280px;
$fixed_width:   1080px;
$gutter_width:  40px; // adjusts gutter width for grid

// Global Display
$border_radius: 4px;

// Z-Index
$z-levelBottom: 1;
$z-level1: 100;
$z-level2: 200;
$z-level3: 300;
$z-level4: 400;
$z-level5: 500;
$z-level6: 600;
$z-level7: 700;
$z-level8: 800;
$z-level9: 900;
$z-levelTop: 999999;

// Paths
