// Variables & Configuration
// -------------------------

// Colors

$white: #FFFFFF;
$black: #000000;
$primary_color: #FFF;
$secondary_color: #FFF;
$link_light_color: #FFF;
$link_dark_color: #FFF;
$text_light_color: #FFF;
$text_dark_color: #FFF;

// Layout & Grid

$max_width: 1280px;
$gutter: 40px; // adjusts gutter width for grid

// Misc

$global_radius: 4px;