// Variables & Configuration
// -------------------------

// Layout & Grid
$max_width:     1280px;
$fixed_width:   1080px;
$gutter:        40px; // adjusts gutter width for grid

// Display
$global_radius: 4px;

// Paths
