// Content Styles & Grid Structure
// -------------------------

// Content Containers
.contentContainer {
    max-width: $max_width;
    padding: 25px 0;
}

//Simple Grid Structure
.grid {
  margin: 0 auto $gutter auto;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col--'] {
  float: left;
  padding-right: $gutter;
  min-height: 1rem;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.col--span2of3 {
    width: 66.66%;
}
.col--span1of3 {
    width: 33.33%;
}

.col--span1of2 {
    width: 50%;
}

.col--span1of4 {
    width: 25%;
}
    .col--span3of4 {
        width: 75%;
    }

.col--span1of8 {
  width: 12.5%;
}
    .col--span2of8 {
        width: 25%;
    }
    .col--span3of8 {
        width: 37.5%;
    }
    .col--span5of8 {
        width: 62.5%;
    }


/* Opt-in outside padding */
.grid--outsideGutters {
  padding: $gutter 0 $gutter $gutter;
  [class*='col-']:last-of-type {
    padding-right: $gutter;
  }
}