// -------------------------
// Global Resets & Styles
// -------------------------

*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

p {
    
}

h1, h2, h3, h4, h5, h6 {

}

ul {

}

li{

}